@charset "UTF-8";
/* ==========================================================================
   BASE
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  color: #616161;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

small {
  font-size: 100%;
  display: inline-block;
}

/* ==========================================================================
  COMMON
  ========================================================================== */
/* FORMS */
/* SEARCH FORM */
.form-search-mob .search-submit {
  right: 12px;
  top: 5px;
  font-size: 18px;
}

.form-search-mob .search-field {
  width: 100%;
  padding: 8px 25px 8px 12px;
  border: 1px solid #e3e3e3;
}

.form-search-mob, .form-search-header {
  position: relative;
}

.form-search-mob .search-submit, .form-search-header .search-submit {
  width: 15px;
  height: 15px;
  border: none;
  padding: 0;
  position: absolute;
  background-color: transparent;
}

.form-search-header {
  display: inline-block;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
}

.form-search-header .search-field {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb%51, 51, 51' d='M14.490,12.752 L11.296,9.559 C11.279,9.542 11.259,9.530 11.242,9.515 C11.870,8.561 12.237,7.421 12.237,6.194 C12.237,2.856 9.531,0.150 6.193,0.150 C2.856,0.150 0.150,2.856 0.150,6.193 C0.150,9.531 2.856,12.237 6.193,12.237 C7.420,12.237 8.561,11.870 9.514,11.242 C9.530,11.259 9.542,11.279 9.559,11.296 L12.753,14.490 C13.232,14.969 14.010,14.969 14.490,14.490 C14.969,14.010 14.969,13.232 14.490,12.752 ZM6.193,10.142 C4.013,10.142 2.245,8.374 2.245,6.193 C2.245,4.013 4.013,2.245 6.193,2.245 C8.374,2.245 10.142,4.013 10.142,6.193 C10.142,8.374 8.374,10.142 6.193,10.142 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.form-search-header .search-field {
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 8px 25px 8px 12px;
  width: 35px;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  cursor: pointer;
  border: none;
  background-position: 11px 12px;
}

.form-search-header .search-submit {
  width: 15px;
  height: 15px;
  border: none;
  padding: 0;
  position: absolute;
  display: none;
  background-color: transparent;
  z-index: -1;
}

.form-search-header .search-field:focus {
  width: 200px;
  cursor: auto;
  padding-right: 30px;
  background-position: 173px 12px;
}

.form-search-header .search-field:focus + .search-submit {
  display: block;
}

/*HEADINGS*/
h1, h2, h3, h4 {
  line-height: 1.1;
  font-weight: 500;
}

.h-page {
  margin: 0 0 1.5rem 0;
}

.h-footer {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.h-footer:first-child {
  margin-top: 0;
}

/* IMAGES */
.aligncenter, .alignleft, .alignright {
  display: block;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .alignleft, .alignright {
    display: inline-block;
    max-width: 75%;
  }
  .alignleft {
    float: left;
    margin: 5px 20px 8px 0;
  }
  .alignright {
    float: right;
    margin: 5px 0 8px 20px;
  }
}

/* UTILITY CLASSES */
.b-show-more {
  text-align: center;
  margin-bottom: 2rem;
}

/* ==========================================================================
   MENUS
   ========================================================================== */
.but-nav {
  width: 38px;
  height: 20px;
  border: none;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb%280, 0, 0%29' d='M36.000,11.999 L2.000,11.999 C0.895,11.999 -0.000,11.104 -0.000,9.999 C-0.000,8.895 0.895,7.999 2.000,7.999 L36.000,7.999 C37.104,7.999 38.000,8.895 38.000,9.999 C38.000,11.104 37.104,11.999 36.000,11.999 ZM36.000,3.999 L2.000,3.999 C0.895,3.999 -0.000,3.104 -0.000,1.999 C-0.000,0.895 0.895,-0.001 2.000,-0.001 L36.000,-0.001 C37.104,-0.001 38.000,0.895 38.000,1.999 C38.000,3.104 37.104,3.999 36.000,3.999 ZM2.000,15.999 L36.000,15.999 C37.104,15.999 38.000,16.895 38.000,17.999 C38.000,19.104 37.104,19.999 36.000,19.999 L2.000,19.999 C0.895,19.999 -0.000,19.104 -0.000,17.999 C-0.000,16.895 0.895,15.999 2.000,15.999 Z'/%3E%3C/svg%3E") no-repeat;
}

@media (min-width: 768px) {
  .but-nav {
    display: none;
  }
}

.nav-menu a {
  padding: 14px 0;
  display: block;
}

.nav-menu-inline .menu-item {
  display: inline-block;
  margin-right: 1.5rem;
}

.tab-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  top: -43px;
  overflow: hidden;
  overflow-x: auto;
}

.tab-bar .cus-tab {
  display: inline-block;
}

.tab-bar .cus-tab--active {
  background: #fff;
  border-top: 2px solid;
}

.tab-bar .cus-tab a {
  font-weight: 500;
  padding: 10px 16px 12px;
}

.tab-bar .nav-menu {
  width: 726px;
}

.pagination, .pagination-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination .pgn-page, .pagination-mob .pgn-page {
  display: inline-block;
}

.pagination a, .pagination-mob a {
  font-size: 12px;
}

.pagination .mdc-button, .pagination-mob .mdc-button {
  padding-left: 15px;
  padding-right: 15px;
  min-width: auto;
  border-width: 1px;
}

@media (max-width: 767px) {
  .pagination {
    display: none;
  }
}

.pagination [rel="last"] svg {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .pagination-mob {
    display: none;
  }
}

.widget-menu .header {
  margin: 0;
  background: rgba(0, 0, 0, 0.07);
  padding: 18px 24px;
}

.menu-categs a {
  text-transform: capitalize;
}

.menu-categs > .menu-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.04);
}

.menu-categs > .menu-item:nth-child(even) > .nav-menu > .menu-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.04);
}

.menu-categs > .menu-item > .nav-menu > .menu-item > a {
  padding-left: 40px;
}

.menu-categs > .menu-item > .nav-menu > .menu-item .menu-item a {
  padding: 8px 0;
  padding-left: 58px;
}

.menu-categs > .menu-item > a,
.menu-categs > .menu-item > .nav-menu > a {
  padding: 14px 24px;
}

.menu-categs > .menu-item > a {
  text-transform: uppercase;
}

.menu-categs .menu-item--has-children {
  position: relative;
}

.menu-categs .menu-item--has-children:after {
  content: "+";
  position: absolute;
  right: 16px;
  top: 14px;
}

.menu-categs .menu-item--active:after {
  content: "–";
}

/* footer */
.menu-social {
  font-size: 1.5rem;
}

.menu-social .menu-item a {
  padding: 0;
}

.menu-footer .menu-item a {
  padding: 4px 0;
}

.menu-footer .menu-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .nav-menu-mob-wrapper {
    display: none;
  }
}

/* ==========================================================================
   CARDS
   ========================================================================== */
.section-description {
  margin-bottom: 1.5rem;
}

.card-list {
  margin-bottom: 2rem;
}

.card-list-item {
  border-bottom: 1px solid #e3e3e3;
  padding: 1rem 0;
}

.card-list-item:last-child {
  border-bottom: 0;
}

.card-list-item .title {
  margin: 0 0 8px 0;
}

.card-list-item .img {
  display: block;
}

.card-list-item .img img {
  width: 100%;
}

.card-list-item .comments {
  background: #00407D;
  display: inline-block;
  color: #fff;
  padding: 2px 4px;
  margin-bottom: 8px;
}

.card-list-item .price {
  font-size: 2rem;
}

.card-list-item .price .currency {
  font-size: 1.2rem;
  font-weight: 300;
}

.card-list-item .price .svg-inline--fa {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .card-list-item {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .card-list-item .img {
    float: left;
    width: 33%;
  }
  .card-list-item .info {
    width: 65%;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* ==========================================================================
   HEADER
   ========================================================================== */
/* ==========================================================================
   SIDEBAR
   ========================================================================== */
@media (max-width: 767px) {
  .sidebar-site {
    margin-top: 2rem;
  }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-site {
  padding: 2rem 0;
}

.footer-site .logo-main, .footer-site .copyright, .footer-site .info {
  margin-bottom: 1rem;
}

body {
  background: #EAEAEA;
}

a {
  color: #616161;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.header-site {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header-site .container {
  position: relative;
}

@media (min-width: 1200px) {
  .header-site .google-links {
    position: absolute;
    top: 10px;
    left: 230px;
  }
}

.logo-main {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
}

.logo-main svg {
  color: #FBD70D;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.nav-menu-header-1 .menu-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-menu-header-1 .menu-item:first-child {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-menu-header-1 {
    text-align: right;
    border-bottom: 1px solid #e3e3e3;
    @iclude clearfix();
  }
  .nav-menu-header-1 .menu-item:first-child {
    float: left;
  }
}

@media (min-width: 992px) {
  .menu-header-wrap {
    text-align: right;
  }
}

.nav-menu-header-2 {
  display: inline-block;
  margin-top: 5px;
}

.nav-menu-header-2 a {
  font-weight: 500;
}

/* ==========================================================================
   CONTENT
   ========================================================================== */
.main-content {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 88px;
}

.main-content .container {
  position: relative;
  padding-top: 28px;
  padding-bottom: 48px;
}

/* ==========================================================================
   - ARTICLE
   ========================================================================== */
/* ==========================================================================
   SIDEBAR
   ========================================================================== */
/* all widgets */
.widget {
  /* 	padding: 15px;
margin-top: 30px;
display: block;
background: #fff;
box-shadow: 0 5px 10px 0 rgba(215, 207, 196, 0.5);
border-radius: 2px;
&:first-child {margin-top: 0;} */
}

.widget-header {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 0 10px;
  text-align: center;
  margin: -15px -15px 15px -15px;
  border-radius: 3px 3px 0 0;
  color: #fff;
}

/* CATEGORIES */
.site-sidebar .widget_categories {
  padding: 0;
}

.site-sidebar .widget_categories .widget-header {
  margin: 0 0 15px 0;
}

.widget_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget_categories ul .cat-item {
  border-bottom: 1px solid #e5e5e5;
}

.widget_categories ul .cat-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.widget_categories ul .cat-item > a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  padding: 10px 0 10px 13%;
  overflow: hidden;
  border-right: 2px solid;
  background: #fff;
}

.widget_categories ul .cat-item > a:before {
  content: "";
  position: absolute;
  left: -16px;
  top: 0;
  width: 16px;
  height: 100%;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='44px'%3E%3Cpath fill-rule='evenodd' fill='rgb%2852, 133, 51%29' d='M12.000,43.999 L10.000,43.999 L10.000,44.000 L-0.000,44.000 L-0.000,-0.000 L9.000,-0.000 L9.000,-0.000 L12.000,-0.000 C12.000,-0.000 12.714,21.999 16.000,21.999 C12.714,21.999 12.000,43.999 12.000,43.999 Z'/%3E%3C/svg%3E") no-repeat;
  z-index: 20;
}

.widget_categories ul .cat-item > a:hover {
  border-right-color: #fff;
}

.widget_categories ul .cat-item > a:hover:before {
  left: 0;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
