@charset "UTF-8";
@import '_variables';
@import '_base+common';
@import '_plugins';




html {
}
body {	
	background: #EAEAEA;
}

a {
	color: $link-text;
}
.container {max-width: 1390px;}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header-site {
	background: #fff;
	@include shadow();
	.container {position: relative;}
	@media (min-width: $screen-lg-min) {
		padding-top: 10px;
	  	.google-links {
	      position: absolute;
	      top: -6px;
	      left: 270px;
	    }
  	}
}
.logo-main {
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22px;
	svg {
		color: #FBD70D;
	}
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.nav-menu-header-1 {	
	.menu-item:last-child {margin-right: 0;}	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		.menu-item:first-child {display: none;}
	}
	@media (min-width: $screen-md-min) {
		text-align: right;
		border-bottom: 1px solid #e3e3e3;
		@iclude clearfix();
		.menu-item:first-child {float: left;}
	}
}

.menu-header-wrap {
	@media (min-width: $screen-md-min) {
		text-align: right;
	}
}
.nav-menu-header-2 { 	
	display: inline-block;
	margin-top: 5px;
	a {font-weight: 500;}
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
.row-new {
	@media (min-width: $screen-sm-min) {
		//display: flex;
		display: table;
		//margin: 0 -15px;
		table-layout: fixed;

		.col-sidebar {
		    //flex-grow: 0;
		    //flex-shrink: 0;
		}
		.col-sidebar {width: 300px;}		
		.col-content, .col-sidebar {
			display: table-cell;
			vertical-align: top;
			//padding: 0 15px;
		}
		.col-content {padding: 0 30px 0 0;}
	}
	@media (min-width: $screen-lg-min) {
		.col-content {padding: 0 30px;}	
	}
}
.col-ad {
	text-align: center;
	background: rgba(#136CF2,.9);
	@media (max-width: $screen-lg) {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		height: 30%;
		height: 200px;
		z-index: 5;
		img {
			height: 200px;
			width: 200px;
		}
		.ad-wrp {
			display: inline-block;
			position: relative;		
		}
		.close {
			position: absolute; 
			right: 8px; top: 8px; 
			padding: 0;
			width: 20px;height: 20px;
			cursor: pointer;
			background: 
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23000' d='M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z'%3E%3C/path%3E%3C/svg%3E")
			50% 50% no-repeat;
			border:none;color: #fff;font-size: 24px;}
	}
	@media (min-width: $screen-lg-min) {				
		display: table-cell;
	    //flex-grow: 0;
	    //flex-shrink: 0;
	    width: 200px;
	    position: relative;	    	    
	    .ad-wrp {
	    	position: fixed; 
	    	bottom: 0; 
	    	max-width: 100%;
	    	width: inherit;
	    	z-index: 1;
	    }	    
		.close {display: none;}
	}
}



.main-content {	
	background: #fff;
	@include shadow();		
	margin-top: 88px;

	.container {
		position: relative;
		padding-top: 28px;
		padding-bottom: 48px;			
	}
}
.home .main-content {margin-top: 16px;}


.b-compils-promo {
	display: flex;
	justify-content:  space-between;
	flex-wrap: wrap;
}
.b-card-promo {
	display: flex;
	border: 1px solid rgba(#000, .07);
	height: 96px;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 48%;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	font-weight: 300;
	@media (min-width: $screen-sm-min) {width: 30%;}

}
/* ==========================================================================
   FILTER
   ========================================================================== */

.b-filter-main {
	>div {margin-bottom: 1rem;}
}

.b-filter-extra {
	background: rgba(#000, .05);
	border: 1px solid rgba(#000, .1);
	padding: 8px;
	margin-bottom: 1.5rem;

	@media (min-width: $screen-md-min) {
		padding: 14px 14px 0;
		@include clearfix();		
	}
	.lbl--radio {
		margin: 0 1rem 1rem 0;
		display: inline-block;
		input {margin-right: 8px; vertical-align: text-top;}
	}

	/* left col */
	.b-col-1 {
		@media (min-width: $screen-md-min) {
			float: left; width: 65%;
			&_i {@include clearfix();}
		}
		@media (min-width: $screen-lg-min) {
			width: 68%;
			&-1 {
				width: 47%;
				float: left;
				margin-right: 3%;
				&:last-child {margin-right: 0;}
			}
		}
		.b-col-1-1 {
			margin-bottom: 1.5rem;
		}
	}


	/* right col (selects) */
	.b-col-2 {
		.b-col-2-1 {margin-bottom: 1rem;}
		@media (min-width: $screen-md-min) {
			float: right; width: 32%;
		}
		@media (min-width: $screen-lg-min) {
			float: right; width: 30%;
			.b-col-2-1 {position: relative; padding-left: 130px;}
			.lbl--side {
				width: 125px;
				position: absolute;
				left: 0;
			}
		}
	}
	

}

.price-range {
	&_i {
		display: flex;
		justify-content: space-between;
	}
	&--col {}

	.input-price {width: 80px; margin: 0 2px}
}
.b-slider-range {
	margin-top: 1.5rem;
	padding: 0 16px;
}
/* ==========================================================================
   - ARTICLE
   ========================================================================== */


/* ==========================================================================
   SIDEBAR
   ========================================================================== */



/* ==========================================================================
   FOOTER
   ========================================================================== */


//@import 'css/plugins';
//@import 'css/other';